/* Utilities */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Home */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

html {
}

.top-bar {
    background-color: #ff6648;
}

.top-bar-links {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    /* height: 30px; */
    margin: 0 15px;
}

.top-bar-links li {
    position: relative;
    padding: 3px 0;
}

.top-bar-links li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 0.8em;
}

.top-bar-links li a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    gap: 7px;
}

.social-links a i {
    font-size: 1em;
    color: #fff;
}

.social-links a i:hover {
    color: #ffffffcc;
}

/* Main Nav */

.main-nav {
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.1);
    margin-bottom: 15px;
}

.main-nav nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-nav nav * {
    color: rgba(102, 102, 102, 0.85);
    text-decoration: none;
    gap: 15px;
    font-weight: 600;
    font-size: 0.8rem;
    border-bottom: 3px solid transparent;
}

.main-nav nav .active {
    color: #000;
    border-bottom: 3px solid #ff6648;
}

.main-nav nav > a {
    padding: 5px 0;
}

.main-nav nav > a:hover {
    color: rgba(17, 17, 17, 0.85);
    border-bottom: 3px solid #ff6648;
}

.main-nav nav button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: #ff6648;
}

.main-nav nav button a {
    color: #fff;
}

.main-nav nav button:hover {
    background-color: #d64c00;
    border: none;
    color: #fff;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 500px;
}

.img1 {
    background-image: url(../images/Projects-330.jpeg);
    background-position: center;
    background-size: cover;
}

.img2 {
    background-image: url(../images/Projects-331.jpeg);
    background-position: center;
    background-size: cover;
}

.img3 {
    background-image: url(../images/Projects-332.jpeg);
    background-position: center;
    background-size: cover;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
    color: hsla(10, 100%, 64%, 0.5);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #ff6648;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #ff6648;
}

.dropdown {
    position: relative;
}

.dropdown {
    padding: 5px 0;
    border-bottom: 3px solid transparent;
}

.dropdown:hover {
    border-bottom: 3px solid #ff6648;
}

.dropdown:hover > a {
    color: rgba(17, 17, 17, 0.85);
}

.dropdown:hover > .dropdown-content {
    border-bottom: 3px solid #ff6648;
    color: rgba(17, 17, 17, 0.85);
}

.dropdown-content {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: max-content;
    height: min-content;
    top: 34px;
    display: none;
    background-color: #fff;
    /* Fix this !important */
    border: 1px solid rgba(102, 102, 102, 0.5) !important;
    gap: 0 !important;
}

.dropdown:hover .dropdown-content:hover {
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a {
    font-size: 1.2em;
    font-weight: 400;
    padding: 10px;
}

.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.dropdown-content a:hover {
    color: black;
}

/* Content 1 */

section {
    display: block;
    padding: 3rem 0;
}

.reliability {
    background-color: #f6f6f6;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    margin-top: 0;
}

.reliability_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.reliability .grid {
    grid-template-columns: 2fr 4fr;
}

.mySwiper3 {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.reliability img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.reliability_text {
    padding: 15px;
    width: 100%;
}

.reliability_text h3 {
    color: #555;
    margin-bottom: 10px;
}

.reliability_text p {
    color: #777;
}

/* Section 2 */

.leading {
    background-color: #fff;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    margin-top: 0;
}

.leading_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    /* padding: 0 40px; */
}

.leading .grid {
    grid-template-columns: 1fr 1fr;
}

.leading img {
    width: 100%;
    max-width: 500px;
    max-height: 530px;
    margin: 0 auto;
}

.leading_text {
    padding: 15px;
    width: 100%;
}

.leading_text h3 {
    color: #555;
    margin-bottom: 10px;
}

.leading_text p {
    color: #777;
}

/* Section 3 */

.quote {
    background-color: #f6f6f6;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    margin-top: 0;
}

.quote_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.quote .grid {
    grid-template-columns: 1fr 1fr;
}

.quote img {
    width: 100%;
    max-width: 500px;
    max-height: 530px;
    margin: 0 auto;
}

.quote_text {
    padding: 15px;
    width: 100%;
}

.quote_text h3 {
    color: #555;
    margin-bottom: 10px;
}

.quote_text p {
    color: #777;
}

/* Section 4 */
.affiliations {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
}

.affiliations-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.affiliations-title {
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid #dcdbdb;
    color: #555;
}

.affiliations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.affiliations-grid a {
    border: 1px #dcdbdb solid;
}

.affiliations-grid a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 30px;
}

.affiliations-grid a:nth-child(-n + 4) {
    border-top: none;
}

.affiliations-grid a:nth-child(4n + 1) {
    border-left: none;
}

.affiliations-grid a:nth-child(4n) {
    border-right: none;
}

.affiliations-grid a:nth-last-child(-n + 4) {
    border-bottom: none;
}

/* Section 5 */
.news {
    width: 100%;
    /* height: 400px; */
    background-color: #f6f6f6;
}

.news-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.news .grid {
    grid-template-columns: 1fr 2fr;
}

.news-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #565656;
    border-left: 2px solid rgba(119, 119, 119, 0.2);
}

.news-title button {
    color: white;
    background-color: #ff6648;
    border: none;
    padding: 10px;
    font-size: 1em;
    width: 50%;
}

.news-title button:hover {
    background-color: #d64c00;
    cursor: pointer;
}

.news-post-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.news-post {
    background-color: #fff;
    color: #565656;
    border: 2px solid rgba(119, 119, 119, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    gap: 5px;
}

.news-post p {
    color: #808080;
}

.news-post button {
    color: #565656;
    background-color: #fff;
    border: 2px solid rgba(119, 119, 119, 0.2);
    padding: 10px;
    font-size: 1em;
    width: 50%;
}

.news-post button:hover {
    color: #fff;
    background-color: #ff6648;
    border: 2px solid rgba(119, 119, 119, 0.2);
    padding: 10px;
    font-size: 1em;
    width: 50%;
    cursor: pointer;
}

/* Section 6 */
.contact {
    background-color: #4a4a4a;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    margin-top: 0;
}

.contact-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    color: #f4f4f4;
}

.contact-container button {
    padding: 10px 50px;
    font-size: 1.3em;
    background-color: #4a4a4a;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    margin: 0 auto;
}

.contact-container button:hover {
    background-color: #f4f4f4;
    color: #4a4a4a;
    cursor: pointer;
}

.contact .grid {
    grid-template-columns: 2fr 1fr;
}

/* Section 7 */

.bottom-nav {
    background-color: #777777;
}

.bottom-nav-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 30px;
}

.bottom-nav-container ul {
    list-style: none;
}

.bottom-nav-container img {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.bottom-nav-container div {
    width: 100%;
}

.bottom-nav-container div ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #f1f1f1;
}

.bottom-nav-container div ul li {
    padding: 5px 0;
}

.bottom-nav-container div ul li:hover {
    color: #fff;
    cursor: pointer;
}

.bottom-nav-container div ul li:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

/* Footer */

footer {
    background-color: #5b5b5b;
    color: rgb(187, 187, 187);
    text-align: center;
    padding: 15px 0;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer div a {
    text-decoration: none;
    color: rgb(187, 187, 187);
}

footer div a:hover {
    color: #fff;
}
